<!-- SPDX-License-Identifier: CC-BY-4.0 -->
<!-- Copyright Contributors to the Egeria project. -->
<script src="https://giscus.app/client.js"
        data-repo="odpi/egeria-docs"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzOTQ2NDI3MDI="
        data-category="DocFeedback"
        data-category-id="DIC_kwDOF4XFDs4CWD6g"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
