# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project.
name: "Merge"

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
        working-directory: ./site
