# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project.
name: "MkDocs"

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: mkdocs build 
        working-directory: ./site
